<header class="site-header">
        <div class="site-header__inner">
            <div class="site-header__top_wrap block_width">
                <div class="site-header__top">
                    <div class="menu-top">
                        <ul class="menu-top__inner">
                            <li class="has active opened"><a href="/">Главная</a>
                            </li>
                            <li class="has"><a href="/o-kompanii">О компании</a>
                                <ul>
                                    <li class=""><a href="/kontakty">Контакты</a>
                                    </li>
                                    <li class=""><a href="/proizvoditeli">Производители</a>
                                    </li>
                                </ul>
                            </li>
                            <li class=""><a href="/dostavka">Условия Доставки</a>
                            </li>
                            <li class=""><a href="/oplata">Оплата</a>
                            </li>
                            <li class=""><a href="/registraciya" target="_blank">Регистрация</a>
                            </li>
                            <li class=""><a href="/sitemap">Карта сайта</a>
                            </li>
                            <li class=""><a href="/search">Поиск по сайту</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mobile-panel__btn">
                        <svg class="gr-svg-icon">
                            <use xlink:href="#icon_site_burger"></use>
                        </svg>
                        <svg class="gr-svg-icon icon-cat-search">
                            <use xlink:href="#icon_site_catalog"></use>
                        </svg>
                    </div>

                    <div class="flags-top">
                    </div>
                    <div class="mobile-icons__panel">

                    </div>
                    <div class="main-top__search" data-remodal-target="search-form" style="display: none">
                        <svg class="gr-svg-icon">
                            <use xlink:href="#icon_shop_search"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="site-header__bottom_wrap block_width">
                <div class="site-header__bottom">
                    <div class="site-header__bottom-left  logo-left">
                        <a href="https://markermarket.uz" class="site-logo">
                            <img src="/thumb/2/qhvuTSuy3YBIcPpdDb56kg/140r/d/121639593_144741887367280_1516153974288837657_n.jpg"
                                 alt="121639593_144741887367280_1516153974288837657_n.jpg" style="max-width:140px;">
                        </a>
                        <div class="site-name">
                            <span class="site-name__desc">Магазин канцелярских товаров для школы и офиса</span>
                        </div>
                    </div>
                    <div class="site-header__bottom-right">
                        <div class="site-header__first-column">
                            <div class="site-adress">
                                <svg class="gr-svg-icon">
                                    <use xlink:href="#icon_site_location"></use>
                                </svg>
                                <span>г.Ташкент,100017,Юнусабадский р-н, Алайский рынок  2-tor</span>
                            </div>
                        </div>

                        <div class="site-header__second-column">
                            <div class="site-contacts">
                                <svg class="gr-svg-icon">
                                    <use xlink:href="#icon_site_phone"></use>
                                </svg>

                                <div class="site-contacts__right">

                                    <div class="site-contacts__inner">
                                        <a href="tel:+998 (99) 612-30-63" class="site-contacts__body">+998 (99)
                                            612-30-63</a>
                                        <div class="top_massager">
                                            <a href="" class="contacts-phones__link">
                                                <img width="28" height="28"
                                                     src="/thumb/2/UMSxDoyMHNhfoWma1ab7NQ/28c28/d/fgs16_whatsapp.svg"
                                                     data-src="/thumb/2/UMSxDoyMHNhfoWma1ab7NQ/28c28/d/fgs16_whatsapp.svg"
                                                     class="" alt="Whatsapp" title="Whatsapp">
                                            </a>
                                            <a href="https://t.me/markermarket" class="contacts-phones__link">
                                                <img width="28" height="28"
                                                     src="/thumb/2/fsn7QZgB3BYMWNKG85ONxA/28c28/d/fgs16_telegram.svg"
                                                     data-src="/thumb/2/fsn7QZgB3BYMWNKG85ONxA/28c28/d/fgs16_telegram.svg"
                                                     class="" alt="Telegram" title="Telegram">
                                            </a>
                                        </div>
                                    </div>
                                    <span data-remodal-target="phone-popup">Вам перезвонить?</span>
                                </div>

                            </div>
                            <div class="contact-more" data-remodal-target="other-contact"><span>
								<svg class="gr-svg-icon">
								    <use xlink:href="#icon_site_bottom_small"></use>
								</svg>
							</span>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </header>